{% extends 'base.html' %}

{% block header_text %}Add stuff to To-Do List{% endblock %}

{% block form_action %}/lists/{{ list.id }}/{% endblock %}

{% block table %}
    <table id="id_list_table" class="table">
        {% for item in list.item_set.all %}
            <tr><td>{{ forloop.counter }}: {{ item.text }}</td></tr>
        {% endfor %}
    </table>
    <br>

    <h2>List is shared with</h2>
    <ul class="list-share">
        <li><a href="#">Neexistujici uzivatel</a></li>
        <li><a href="#">Neexistujici uzivatel2</a></li>
    </ul>

    <form method="POST" action="#">
        <span>Enter email to share with: </span>
        <input class="form-control" name="share" type="text" placeholder="someone@example.com">
        {% csrf_token %}
    </form>
{% endblock %}

