[Unit]
Description=Gunicorn server for DOMAIN

[Service]
Restart=on-failure
User=luser
WorkingDirectory=/home/luser/sites/DOMAIN
EnvironmentFile=/home/luser/sites/DOMAIN/.env
ExecStart=/home/luser/sites/DOMAIN/virtualenv/bin/gunicorn \
--bind unix:/tmp/DOMAIN.socket superlists.wsgi:application

[Install[
WantedBy=multi-user.target